@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
    background-color: darkgrey;
}


* {
    font-family: 'Roboto', sans-serif;
}




body {

margin: 0;

}


nav {
    background-color: darkgray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


#navbarlogo {

    width: 25px;
    padding: 0 16px;


}

#navbarlinks a {

    color: black;
    text-decoration: none;
    margin: 0 8px;
}

#hamburger {
    display: none;
}

#hamburger div {
    height: 1px;
    width: 25px;
    background-color: black;
    margin: 3px 0;
}


/*Dropdown Section*/

.navcontent {
    display: inline-block;
    position: relative;


}

.dropdownlinks {
    background-color: black;
    position: absolute;
    top: 50px;
    padding: 10px;
    opacity: 0;
    transition: all 1s;

}

.dropdownlinks a {
    display: block;
    white-space: nowrap;
    margin: 5px;
}

.navcontent:hover .dropdownlinks {
    opacity: 1;

}



@media (max-width: 830px) {

#navbarlinks{
    display: none;
}

    #hamburger {
        display: block;
    }
    
}

#info {
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
}

#leftofpage {
    justify-content: left;
    font-size: 40px;

}

#help {
    justify-content: right;
    font-size: 14px;
    text-align: right;
}

#storeitems {
    justify-content: center;
    position: relative;
}



